[submodule "dependencies/libfranka-python"]
	path = dependencies/libfranka-python
	url = git@github.com:BigJohnn/libfranka-python.git
[submodule "dependencies/libfranka-sim"]
	path = dependencies/libfranka-sim
	url = git@github.com:BigJohnn/libfranka-sim.git
[submodule "dependencies/panda-py"]
	path = dependencies/panda-py
	url = git@github.com:JeanElsner/panda-py.git
[submodule "dependencies/dm_robotics_panda"]
	path = dependencies/dm_robotics_panda
	url = git@github.com:BigJohnn/dm_robotics_panda.git
[submodule "dependencies/monte01_sdk"]
	path = dependencies/monte01_sdk
	url = git@github.com:linkage-x/monte01_sdk.git
[submodule "dependencies/unitree_sdk2"]
	path = dependencies/unitree_sdk2
	url = git@github.com:unitreerobotics/unitree_sdk2.git
[submodule "dependencies/unitree_sdk2_python"]
	path = dependencies/unitree_sdk2_python
	url = git@github.com:unitreerobotics/unitree_sdk2_python.git
