<?xml version="0.0" ?>
<robot name="thick_youtiao">
  <link name="base_link">
  <contact>
      <lateral_friction value="0.8"/>
      <rolling_friction value="0.3"/>
      <spinning_friction value="0.1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="0.01"/>
       <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="youtiao.obj" scale="0.1 0.02 0.02"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="youtiao.obj" scale="0.1 0.02 0.02"/>
      </geometry>
    </collision>
  </link>
</robot>

